<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"> lo Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li *ngFor="let route of routes" style="margin: 3px;">
                <a style="margin-left: 5px;color: black;" *ngIf="route.isVisible"
                    routerLink="{{prefix}}{{route.path}}">{{route.title}}</a>
            </li>
        </ul>
    </div>
</nav>