<div class="signFormStyle" align="center">
    <h1>Sign Up</h1>
    <div class="container">
        <form>
            <div [formGroup]="signUpFrom" class="form-group">
                <label>city</label>
                <input formControlName="city" type="text" class="form-control" id="exampleInputPassword1">
                <label>street</label>
                <input formControlName="street" type="text" class="form-control" id="exampleInputPassword1">
                <label>First Name</label>
                <input formControlName="firstName" type="text" class="form-control" id="exampleInputPassword1">
                <label>Last Name</label>
                <input formControlName="lastName" type="text" class="form-control" id="exampleInputPassword1">
            </div>
            <button (click)="register()" type="button" class="btn btn-primary">Submit</button>
            <button style="margin: 5px;" (click)="goBack()" type="button" class="btn btn-primary">Back</button>
        </form>
    </div>
</div>